@import "../../assets/colors.css";

.custom-input {
  display: flex;
  flex-direction: column;
  direction: rtl;
  place-items: start;
}

.custom-input input {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  padding: 0.965rem 15px;
  box-sizing: border-box;
  color: var(--primary-text);
  background-color: #fff;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.custom-input input:focus {
  outline: none;
  border: 1px solid var(--secondary);
}
