.app {
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 3rem;
  background-size: contain;
  background-color: #e0f3fd;
  box-sizing: border-box;
  background-image: url("./assets/images/hotel.webp");
}
