@import url("./assets/colors.css");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/iransansx-fa-regular.woff");
}

* {
  font-family: IRANSans;
  color: var(--priamry-text);
}
